/* #ffa200 */
/* #6eda78 */

.layout {
  position: relative;
  height: 100vh;
  background: linear-gradient(90deg, #6eda78, #ffa200);
}

.header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 2000;
  top: 0;
  right: 0;
}

.content {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.column {
  display: flex;
  gap: 20px;
}

.box-title {
  width: 250px;
  height: 110px;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.divForm {
  border: 2px solid black;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  max-width: 900px;
  padding: 10px;
}

.formLayout {
  position: relative;
  padding: 20px;
  background: linear-gradient(90deg, #6eda78, #ffa200);
  height: 160vh;
}

.formHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
